[app:main]
use = egg:mistress_stat

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar

sqlalchemy.url = postgresql+psycopg2://postgres:postgres@localhost/mistress

#debugtoolbar.hosts = (your ip)
debugtoolbar.enabled = false

mako.directories = mistress_stat:templates
mako.module_directory = /tmp/projects/mistress_stat/compiled_templates
mako.strict_undefined = true

sapyens.migrate.dir_path = src/mistress_stat/db/migrations


[loggers]
keys = root, mistress_stat, sqlalchemy, __main__

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_mistress_stat]
level = DEBUG
handlers =
qualname = mistress_stat

[logger___main__]
level = DEBUG
handlers =
qualname = __main__

[logger_sqlalchemy]
#level = INFO
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
#http://docs.python.org/library/logging.html#logrecord-attributes
#http://docs.python.org/library/stdtypes.html#string-formatting-operations
#format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
format = %(asctime)sUTC %(levelname)-5s [%(filename)s:%(funcName)s:%(lineno)d]  %(message)s
