[program:mistress_stat]
command=/opt/mistress-stat/venv/bin/python src/mistress_stat/stat_server.py config.ini
directory=/opt/mistress-stat/
user=root
stdout_logfile=/opt/mistress-stat/log_stdout
stderr_logfile=/opt/mistress-stat/log_stderr
autostart=true
autorestart=true
startsecs=3
startretries=0
stopsignal=INT
stopwaitsecs=20
